.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    height: 60px;
    z-index: 1;
}

.navbar_section1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* margin: 60px; */
    font-size: 20px;
    font-weight: bold;
    width: 20%;
}

.navbar_section2 {
    display: flex;
    align-items: center;
    gap: 27px;
    width: 40%;
}

.navbar_section2 h3 {
    border: 8px solid transparent;
    cursor: pointer;
}

.navbar_section2 h3:hover {
    border-radius: 20px;
    background-color: rgb(226, 223, 223);
}

.navbar_section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
}

.icon-spacing {
    padding: 5px;
}

.divider {
    border-left: 2px solid black;
    height: 15px;
}

.currency-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 8px solid transparent;
    cursor: pointer;
}

.signin_button {
    border-radius: 25px;
    border: 11px solid black;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-left: 25px;
}


.description {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 20px;
}

.search,
.hotels,
.things,
.restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    margin-bottom: 30px;
}

.menu > div {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.menu > div:hover {
    border-bottom: 3px solid black;
}

.search_data {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f1f1f1;
    gap: 10px;
    width: 60%;
    margin: auto;
    padding: 12px;
    border-radius: 30px;
    background: #f7f7f7;
    margin-bottom: 30px;
}

.search_data input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.search_data input:focus {
    outline: none;
}


.box_content {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
    border: 4px solid #00eb5b;
    background-color: #00eb5b;
}

.image1 {
    width: 50%;
    margin: 22px;
    border-radius: 10px;
}

.ads_text {
    width: 30%;
    margin: 50px;
    padding: 20px;
    display: grid;
    justify-content: center;
    border-left: 1px solid black;
    text-align: center;
}

.ads_button {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    margin: 20px auto;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.24);
}


.container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.course_card {
    position: relative;
    width: 20%;
    flex-basis: 20%;
    flex-grow: 1;
}

.course_card img {
    width: 100%;
    border-radius: 10px;
}

.course_card h1 {
    position: absolute;
    right: 11%;
    bottom: -6%;
    color: white;
}

.places_container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.place_card {
    width: 20%;
    flex-basis: 20%;
    flex-grow: 1;
    position: relative;
}

.place_card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}



.ta-footer {
    background-color: #f2f2f2;
    padding: 40px 80px;
    font-family: Arial, sans-serif;
}

.footer-logo {
    width: 180px;
    margin-bottom: 30px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-col h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-col a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.footer-col a:hover {
    text-decoration: underline;
}



.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom p {
    font-size: 13px;
    color: #666;
}

.footer-links a {
    margin-right: 15px;
    color: #333;
    font-size: 13px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    height: 60px;
    padding: 0 20px;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.navbar_section1 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
    font-weight: bold;
}

.navbar_section2 {
    display: flex;
    align-items: center;
    gap: 27px;
}

.navbar_section2 h3 {
    border: 8px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
}

.navbar_section2 h3:hover {
    border-radius: 20px;
    background-color: rgb(226, 223, 223);
}

.navbar_section3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.currency-box {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.signin_button {
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.description {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.menu > div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

.menu > div:hover {
    border-bottom: 3px solid black;
}


.search_data {
    display: flex;
    align-items: center;
    border: 1px solid #f1f1f1;
    gap: 10px;
    width: 60%;
    margin: auto;
    padding: 12px;
    border-radius: 30px;
    background: #f7f7f7;
    margin-bottom: 30px;
}

.search_data input {
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.search_data input:focus {
    outline: none;
}

/* =========================================
   ADS BOX
========================================= */
.box_content {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #00eb5b;
    padding: 20px;
}

.image1 img {
    width: 100%;
    border-radius: 10px;
}

.ads_text {
    width: 40%;
    text-align: center;
}

.ads_button {
    width: 45%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    margin: 20px auto;
}

.container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.course_card {
    position: relative;
    width: 23%;
}

.course_card img {
    width: 100%;
    border-radius: 10px;
}

.course_card h1 {
    position: absolute;
    right: 10%;
    bottom: -8%;
    color: white;
}

.places_container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.place_card {
    width: 23%;
}

.place_card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}


.ta-footer {
    background-color: #f2f2f2;
    padding: 40px 80px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width: 1024px) {

    .navbar_section2 {
        gap: 2px;
        font-size: 15px;
    }

    .search_data {
        width: 80%;
    }

    .course_card,
    .place_card {
        width: 45%;
    }

    .footer-col {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {

   
    .navbar {
        padding: 0 10px;
    }

    .navbar_section2 {
        display: none; 
    }

    .navbar_section3 {
        display: none;
    }

 
    .menu {
        overflow-x: scroll;
        justify-content: flex-start;
        padding: 10px 5px;
        white-space: nowrap;
        gap: 30px;
    }

    .menu > div {
        font-size: 18px;
    }

    /* SEARCH */
    .search_data {
        width: 90%;
    }

    /* ADS BOX */
    .box_content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .image1,
    .ads_text {
        width: 100%;
    }

    /* CARDS → 1 column */
    .course_card,
    .place_card {
        width: 100%;
    }

    /* FOOTER → 1 column */
    .footer-col {
        width: 100%;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

@media (max-width: 480px) {

    .description {
        font-size: 35px;
    }

    .ads_button {
        width: 60%;
    }
}
